@keyframes animated-background-transform {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-66.66667%); } }

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .page-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none; }
  .page-wrapper .background-image {
    background-image: url("../images/full-image-scaled-3840x720.jpg");
    width: 3840px;
    height: 100%;
    animation: animated-background-transform 300s linear infinite;
    background-size: auto 100%; }
  .page-wrapper .page-content {
    display: flex;
    text-align: center;
    justify-content: center; }
    .page-wrapper .page-content .text-info {
      z-index: 1;
      position: absolute;
      margin: 0;
      bottom: 12.5%;
      font-family: Roboto;
      font-size: 10vh;
      font-weight: 100;
      color: #fff;
      letter-spacing: 70px;
      border: 1px solid white;
      padding-left: 70px;
      line-height: 12.5vh;
      height: 12.3%;
      outline: none; }
    .page-wrapper .page-content .center-image {
      position: absolute;
      bottom: 37.5%;
      height: 50%;
      z-index: 1; }
    .page-wrapper .page-content .youtube-wrapper {
      width: 63vh;
      height: 50vh;
      position: absolute;
      bottom: 37.5%;
      overflow: hidden;
      opacity: .8; }
      .page-wrapper .page-content .youtube-wrapper.space-trip {
        margin-left: -13px; }
        .page-wrapper .page-content .youtube-wrapper.space-trip .youtube {
          margin-right: -27px; }
      .page-wrapper .page-content .youtube-wrapper:after {
        left: 21px; }
      .page-wrapper .page-content .youtube-wrapper .youtube {
        width: 100%;
        height: 100%; }
