doctype html
html lang='en'
  head
    meta charset='utf-8'
    title Pause
    meta name='description' content='Paused stream'
    meta name='viewport' content='width=device-width, initial-scale=1'
    meta name='theme-color' content='#fafafa'
    link rel='stylesheet' href='css/normalize.css'
    link rel='stylesheet' href='css/pause.css'
    link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"
  body
    .page-wrapper
      img.background-image src="images/full-image-scaled-3840x720.jpg"
      .page-content
        img.center-image src='images/batman.png'
        .youtube-wrapper.space-trip
          iframe.youtube frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        h1.text-info contenteditable=true PAUSE
    script src='js/pause.js'
